/** HEADER */

.header {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 9rem;   
        margin: auto;
    }
    &__logo{
        width: 250px;
    }
}