@charset "UTF-8";
/** 1. Utils */
/** COULEURS */
/** FONTS */
/** TEXT AND HEADINGS SIZES */
/** BREAKPOINTS */
/* LOADING SPINNER */
/* @keyframes spin {
    1% {
        opacity: 10;
        transform: rotate(
    0deg) scale(1);
        z-index: 101;
    }
    100% {
        transform: rotate(
    360deg) scale(1.5);
        opacity: 0;
    }
}

@keyframes loader {
    1% {
        background: linear-gradient(to top, #9256dc, #ff79d9);
        z-index: 101;
        width: 100%;
        height: 100%;
    }
    15% {
        opacity: 1;
    }
    60% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.4;
    }
    85% {
        opacity: 0.3;
    }
    95% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
} */
/* FlexBox */
/** RESPONSIVE */
/** 2. Base */
/** GÉNÉRAL */
/* Propriété Box-sizing */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/** TYPOGRAPHIE */
body {
  font-family: "Shrikhand", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
}
@media screen and (max-width: 515px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 31px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 31px;
  color: #686868;
}
@media screen and (max-width: 515px) {
  h4 {
    font-size: 22px;
  }
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
@media screen and (max-width: 515px) {
  p {
    font-size: 20px;
  }
}

input::placeholder {
  color: black;
}

hr {
  border-top: 5px solid #99E2D0;
}

/** 3. Components */
/** BOUTON GÉNÉRAL */
.btn {
  padding: 26px 48px 26px 48px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: 0px solid #9356DC;
  margin-top: 60px;
  color: white;
  font-size: 26px;
  border-radius: 45px;
  box-shadow: 0px 5px 10px 7px #d5d5d5;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: #FF79DA;
  box-shadow: 0px 8px 14px 9px #d5d5d5;
}
@media screen and (max-width: 515px) {
  .btn {
    font-size: 16px;
  }
}

/** 4. Layouts */
/** CONTAINER */
/** HEADER */
.header {
  width: 95%;
  height: 9rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 515px) {
  .header {
    width: 100%;
    height: 13rem;
    flex-direction: column;
    justify-content: space-around;
  }
}
.header__icon {
  position: relative;
  right: 2rem;
  font-size: 30px;
  color: #000;
}
.header__logo {
  width: 300px;
}
@media screen and (max-width: 515px) {
  .header__logo {
    width: 200px;
  }
}

/** NAV */
.nav__icon-Map {
  position: relative;
  right: 16rem;
  top: 1px;
  font-size: 15px;
}
@media screen and (max-width: 515px) {
  .nav__icon-Map {
    right: 24rem;
    top: -2px;
    font-size: 19px;
  }
}
.nav__box {
  width: 19rem;
  height: 3rem;
  border: none;
  background: #F2F2F2;
  box-shadow: inset 0px 7px 6px #d5d5d5;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 515px) {
  .nav__box {
    width: 100%;
    height: 6rem;
    border-radius: 0px;
  }
}
.nav__texte {
  font-size: 15px;
  font-weight: 500;
  border: none;
  text-align: center;
  background-color: transparent;
}
@media screen and (max-width: 515px) {
  .nav__texte {
    font-size: 23px;
    padding-left: 25px;
  }
}

/** FOOTER */
.footer {
  height: 37rem;
  background-color: #323232;
}
@media screen and (max-width: 515px) {
  .footer {
    width: 100%;
    margin: auto;
  }
}
.footer__margeMenus {
  margin-top: 10rem;
}
.footer__marge {
  width: 90%;
  margin: auto;
}
.footer__logo {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 20px;
  color: white;
}
.footer__elements {
  color: white;
}
.footer__decoration {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.footer__lien {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.footer__icon {
  margin-right: 30px;
  font-size: 23px;
}
.footer__icon2 {
  margin-right: 20px;
  font-size: 23px;
}
.footer__lien2 {
  margin-bottom: 16px;
}
.footer__lien3 {
  margin-bottom: 16px;
}

/** 5. Pages */
/** ACCUEIL */
/* Loading spinner */
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0;
  animation: loader 3s cubic-bezier(0, 0, 0.13, -0.83);
}
.loader__spin {
  margin: auto;
  border: 10px solid blueviolet;
  border-top-color: cornsilk;
  border-bottom-color: cornsilk;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 150px;
  height: 150px;
  opacity: 0;
  z-index: 0;
  animation: spin 3s;
}

/* ACCUEIL SLIDER */
.accueil {
  height: 510px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* FONCTIONNEMENT */
  /* RESTAURANTS */
}
@media screen and (max-width: 515px) {
  .accueil {
    height: 688px;
    margin-top: -1rem;
  }
}
.accueil__titre {
  margin-top: 50px;
}
.accueil__soustitre {
  margin-top: 20px;
}
.accueil-menu {
  width: 90%;
  margin: auto;
}
.accueil-menu__titre {
  margin-top: 90px;
  margin-bottom: 11px;
}
.accueil-menu__flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 515px) {
  .accueil-menu__flexbox {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.accueil-menu__marge {
  margin-bottom: 10px;
}
.accueil-menu__un {
  width: 40px;
  height: 40px;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 25px 25px 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  position: relative;
  left: -4%;
  bottom: -82px;
}
@media screen and (max-width: 515px) {
  .accueil-menu__un {
    width: 30px;
    height: 30px;
    bottom: -50px;
  }
}
.accueil-menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  width: 520px;
  height: 120px;
  background-color: #fafafa;
  border: 0px solid black;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 5px 20px 4px #d5d5d5;
}
.accueil-menu__btn:hover {
  cursor: pointer;
  background: #f1e3ff;
}
@media screen and (max-width: 515px) {
  .accueil-menu__btn {
    width: 293px;
    height: 70px;
    font-size: 18px;
    border-radius: 15px 15px 15px 15px;
  }
}
.accueil-menu__icon {
  position: relative;
  left: -46px;
}
@media screen and (max-width: 515px) {
  .accueil-menu__icon {
    left: -12px;
  }
}
.accueil-menu__icon-couleur {
  color: #7c7c7c;
  font-size: 36px;
}
.accueil-menu__icon-couleur:hover {
  color: #9356DC;
}
@media screen and (max-width: 515px) {
  .accueil-menu__icon-couleur {
    font-size: 18px;
  }
}
.accueil-proj {
  width: 90%;
  height: 86rem;
  margin: auto;
  /* 4 CARDS RESTAURANTS */
}
@media screen and (max-width: 741px) {
  .accueil-proj {
    height: 161rem;
  }
}
.accueil-proj__marge {
  width: 90%;
}
.accueil-proj__titre {
  padding-top: 79px;
}
.accueil-proj__flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 515px) {
  .accueil-proj__flexbox {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.accueil-proj__card {
  width: 300px;
  height: 300px;
  margin-top: 40px;
  border: 0px solid black;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 20px 4px #d5d5d5;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.accueil-proj__card:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 8px 14px 9px #d5d5d5;
}
@media screen and (max-width: 515px) {
  .accueil-proj__card {
    width: 290px;
    height: 300px;
  }
}
.accueil-proj__img {
  width: 100%;
  height: 190px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
@media screen and (max-width: 515px) {
  .accueil-proj__img {
    height: 200px;
  }
}
.accueil-proj__nouveau {
  border: 0px solid black;
  border-radius: 4px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  position: relative;
  bottom: 59%;
  left: 60%;
  font-size: 26px;
  color: #309d82;
  font-weight: 500;
}
@media screen and (max-width: 515px) {
  .accueil-proj__nouveau {
    width: 134px;
    height: 50px;
    bottom: 63%;
    left: 48%;
  }
}
.accueil-proj__fontSizeP {
  font-size: 20px;
}
@media screen and (max-width: 515px) {
  .accueil-proj__fontSizeP {
    font-size: 28px;
  }
}
.accueil-proj__info {
  display: flex;
  align-items: center;
  margin-left: 26px;
  margin-top: -24px;
}
@media screen and (max-width: 515px) {
  .accueil-proj__info {
    margin-top: -34px;
  }
}
.accueil-proj__fontSizeH3 {
  font-size: 22px;
}
@media screen and (max-width: 515px) {
  .accueil-proj__fontSizeH3 {
    font-size: 22px;
  }
}
.accueil-proj__fontSizeH4 {
  font-size: 20px;
}
@media screen and (max-width: 515px) {
  .accueil-proj__fontSizeH4 {
    font-size: 21px;
  }
}
.accueil-proj__info2 {
  display: flex;
  align-items: center;
  margin-left: 26px;
  margin-top: 22px;
}
.accueil-proj__decoration {
  text-decoration: none;
  color: black;
}
.accueil-proj__description {
  margin-top: 6px;
}
.accueil-proj__icon {
  font-size: 24px;
  color: #686868;
  position: relative;
  left: 19px;
  bottom: 14px;
  cursor: pointer;
}
.accueil-proj__icon:hover > .accueil-proj__icon-2 {
  color: #FF79DA;
  transform: scale(1.15);
}
@media screen and (max-width: 515px) {
  .accueil-proj__icon {
    font-size: 24px;
    left: 7%;
  }
}
.accueil-proj__icon-2 {
  font-size: 24px;
  color: #686868;
  position: relative;
  left: 28px;
  transform: scale(0);
  transition: transform 400ms;
}

/** LA PALETTE DU GOÛT */
/** LA NOTE ENCHANTÉE */
/** A LA FRANÇAISE */
/** LE DELICE DES SENS */

/*# sourceMappingURL=style.css.map */
