@charset "UTF-8";
/** 1. Utils */
/** COULEURS */
/** FONTS */
/** TEXT AND HEADINGS SIZES */
/** BREAKPOINTS */
/** RESPONSIVE */
/* LOADING SPINNER */
@keyframes spin {
  1% {
    opacity: 10;
    transform: rotate(0deg) scale(1);
    z-index: 101;
  }
  100% {
    transform: rotate(360deg) scale(1.5);
    opacity: 0;
  }
}
@keyframes loader {
  1% {
    background: linear-gradient(to top, #9256dc, #ff79d9);
    z-index: 101;
    width: 100%;
    height: 100%;
  }
  15% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  95% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
/** 2. Base */
/** GÉNÉRAL */
/* Propriété Box-sizing */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/** TYPOGRAPHIE */
body {
  font-family: "Shrikhand", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 31px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 31px;
  color: #686868;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

input::placeholder {
  color: black;
}

hr {
  border-top: 5px solid #99E2D0;
}

/** 3. Components */
/** BOUTON GÉNÉRAL */
/** 4. Layouts */
/** CONTAINER */
/** HEADER */
.header {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 681px) {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 9rem;
    margin: auto;
  }
}
.header__logo {
  width: 250px;
}

/** NAV */
.nav__icon-Map {
  position: relative;
  right: 14rem;
  bottom: 51px;
  font-size: 32px;
}
@media screen and (min-width: 681px) {
  .nav__icon-Map {
    right: 34rem;
    bottom: 1px;
    font-size: 32px;
  }
}
.nav__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav__texte {
  width: 68rem;
  height: 7rem;
  background: #F2F2F2;
  border: none;
  box-shadow: inset 0px 7px 6px #d5d5d5;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
@media screen and (min-width: 681px) {
  .nav__texte {
    width: 38rem;
  }
}

/** FOOTER */
/** 5. Pages */
/** ACCUEIL */
/* Loading spinner */
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0;
  animation: loader 3s cubic-bezier(0, 0, 0.13, -0.83);
}
.loader__spin {
  margin: auto;
  border: 10px solid blueviolet;
  border-top-color: cornsilk;
  border-bottom-color: cornsilk;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 150px;
  height: 150px;
  opacity: 0;
  z-index: 0;
  animation: spin 3s;
}

/** LA PALETTE DU GOÛT */
/** LA NOTE ENCHANTÉE */
/** A LA FRANÇAISE */
/** LE DELICE DES SENS */

/*# sourceMappingURL=style.css.map */
