/** TYPOGRAPHIE */

body {
    font-family: $font-primaire;
}

h1 {
    font-family: $font-primaire;
}

h2{
    font-family: $font-secondaire;
    font-size: 42px;
    @include mobile{
        font-size: 30px;
    }
}

h3{
    font-family: $font-secondaire;
    font-weight: 600;
    font-size: 31px;
}

h4{
    font-family: $font-secondaire;
    font-weight: 300;
    font-size: 31px;
    color: #686868;
    @include mobile{
        font-size: 22px;
    }
}

p{
    font-family: $font-secondaire;
    font-size: 28px;
    @include mobile {
        font-size: 20px;
    }
}

input::placeholder {
    color: black;
  }

hr{
    border-top: 5px solid #99E2D0;
}