/** COULEURS */
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA ;
$couleur-tertiaire: #99E2D0;
$couleur-gris: #F2F2F2;
$couleur-gris-shadow: #d5d5d5;
$couleur-gris-clair: #fafafa;

/** FONTS */
$font-primaire: 'Shrikhand', sans-serif;
$font-secondaire: 'Roboto', sans-serif;

/** TEXT AND HEADINGS SIZES */


/** BREAKPOINTS */
$small-breakpoint: 681px;
$medium-breakpoint: 768px;
$large-breakpoint: 1440px;
